@using MovieGalleryApp.Core.Models.Movie
@model IEnumerable<IEnumerable<MovieMainPageVM>>
@{
    ViewData["Title"] = "Movie Gallery";
    var firstMoviePoster = Model.Last().OrderBy(a => Guid.NewGuid()).First();
    var secondMoviePoster = Model.Last().OrderBy(a => Guid.NewGuid()).First();
}

<div class="content-container">
    <div class="featured-content"
         style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('@firstMoviePoster.ImgUrl');">
        <img class="featured-title" src="@firstMoviePoster.ImgUrl" alt="">
        <p class="featured-desc">
            @firstMoviePoster.Description
        </p>
        <a class="featured-button" asp-controller="Movie" asp-action="Details" asp-route-id="@firstMoviePoster.Id">Details</a>
    </div>
    <div class="movie-list-container">
        <h1 class="movie-list-title">Action Movies</h1>
        <div class="movie-list-wrapper">
            <div class="movie-list">
                @foreach (var movie in Model.First())
                {
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="@movie.ImgUrl" alt="">
                        <span class="movie-list-item-title">@movie.Title</span>
                        <p class="movie-list-item-desc">
                            @movie.Description
                        </p>
                        <a class="movie-list-item-button" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">Details</a>
                    </div>
                }
            </div>
            <i class="fas fa-chevron-right arrow"></i>
        </div>
    </div>
    <div class="movie-list-container">
        <h1 class="movie-list-title">Fantasy Movies</h1>
        <div class="movie-list-wrapper">
            <div class="movie-list">
                @foreach (var movie in Model.Last())
                {
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="@movie.ImgUrl" alt="">
                        <span class="movie-list-item-title">@movie.Title</span>
                        <p class="movie-list-item-desc">
                            @movie.Description
                        </p>
                        <a class="movie-list-item-button" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">Details</a>
                    </div>
                }
            </div>
            <i class="fas fa-chevron-right arrow"></i>
        </div>
    </div>
    <div class="featured-content"
         style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('@secondMoviePoster.ImgUrl');">
        <img class="featured-title" src="@secondMoviePoster.ImgUrl" alt="">
        <p class="featured-desc">
            @secondMoviePoster.Description
        </p>
        <a class="featured-button" asp-controller="Movie" asp-action="Details" asp-route-id="@secondMoviePoster.Id">Details</a>
    </div>
    <div class="movie-list-container">
        <h1 class="movie-list-title">Movies From US</h1>
        <div class="movie-list-wrapper">
            <div class="movie-list" id="moviesUSContainer">
                <button class="featured-button" id="moviesLoadButton">Load Movies From US</button>
            </div>
        </div>
    </div>    
</div>

@section Scripts
{
    <script src="~/js/ajax.js"></script>
}